<div style="width: 100%; border-collapse: separate; border-spacing: 10px;">
    <h3 style="font-weight: normal; font-size:10px; text-transform: uppercase; font-family: 'Roboto';">Versión 3.0</h3>
</div>