@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>

    <div style="display:block;padding:1px 1px 1px 1px">
        <table style="width:100%">
            <thead>
                <tr>
                    <th style="text-align:right;width:80%;">
                        <img src="~/Content/Imagenes/footer_27122019.jpg" style="width:100%;" />     
                    </th>
                    <th style="text-align:right;width:10%">
                        <br /> 
                    </th>
                    <th style="text-align:left;width:10%;">
                        <br /> 
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>