 <h1 style="font-weight: normal; font-size:17px; text-transform: uppercase; font-family: 'Roboto';">Ninguna de las personas de este hogar cumple con las condiciones para continuar con este capítulo</h1>


<script>
   // alert("entro dd");
        $('#btnAnterior').hide('slow');
        $('#btnSiguiente').hide('slow');

</script>